<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>


<footer class="navbar-inverse" data-th-fragment="footer">
    <a id="goToTop" href="#" style="position: fixed;right: 1rem;bottom: 1rem;">
        <i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
    </a>

    <div class="container">
        <p class="text-center" style="margin: 1rem;color: white;">© 2020 <a href="https://waylau.com">SuperTory</a></p>
    </div>

    <!-- JavaScript -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/toastr.min.js}"></script>
    <!--    <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>-->
    <!--    <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>-->
    <!--    <script src="../../js/nprogress.js" th:src="@{/js/nprogress.js}"></script>-->
    <!--    <script src="../../js/thinker-md.vendor.min.js" th:src="@{/js/thinker-md.vendor.min.js}"></script>-->
    <!--    <script src="../../js/jquery.tag-editor.min.js" th:src="@{/js/jquery.tag-editor.min.js}"></script>-->
    <!--    <script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>-->
    <!--    <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>-->
    <!--    <script src="../../js/catalog-generator.js" th:src="@{/js/catalog-generator.js}"></script>-->

</footer>

</body>
</html>