<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--声明static为页面片段名称-->
<head th:fragment="static">
    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <!--    <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.css}" rel="stylesheet" type="text/css"/>-->
    <!--    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>-->
    <!--    <meta charset="utf-8">-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/cropbox.css}"/>
    <link href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link href="../../css/component-tageditor.css" th:href="@{/css/component-tageditor.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" th:fragment="nav">
    <div class="container">
        <!--导航条-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My Blog</a>
        </div>
        <!--左侧导航标签-->
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0.8px;">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            <!--右侧导航标签-->
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAuthenticated()" class="dropdown">
                    <a class=" dropdown-toggle" href="/u/waylau" th:href="@{'/u/' + ${#authentication.name}}"
                       data-toggle="dropdown">
                        <span sec:authentication="name"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{'/u/' + ${#authentication.name}}">个人主页</a></li>
                        <li>
                            <a th:href="@{'/u/' + ${#authentication.name} + '/profile'}">个人设置</a>
                        </li>
                    </ul>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" style="margin-top: 1.2rem;">
                        <input class="btn-link" type="submit" value="退出">
                    </form>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/login}" class="btn btn-outline-success my-2 my-sm-0" type="submit">登录</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{/register}" class="btn btn-outline-success my-2 my-sm-0" type="submit">注册</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>